body{
    font-family: Arial,Helvetica, sans-serif;
    margin:0;
    padding:0;
    display: grid;
    background-color: #00000075;
}
h2{
    font-family: 'Ephesis', cursive, sans-serif;
    font-size: 2.5vw;
    color:#7eccea;
    margin:0;
    margin: 0.5vw 1vw;
    text-shadow: black 2px 2px 3px;
    
}
h3{
    font-size: 1.15vw;
    padding: 0.5vw 1vw;
    line-height: 1.7em;
}
h4{
    font-size: 1vw;
    margin: 0.5vw 0;
}
h5{
    font-size: 2vw;
    padding: 0pt;
    margin: 0.5vw 0vw;
    font-family: 'Ephesis', cursive, sans-serif;
}
#content{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 75vw 1fr;
    grid-template-rows: 1fr;
    grid-row: 1;
    grid-column: 1;
}
header{
    grid-column: 2/3;
}
.site-title{
    background-color:#733d76;
    text-align: center;
    font-family: 'Ephesis', cursive, sans-serif;
    font-size: 3.6vw;
    color: white;
    margin: 0;
    padding: 0;
}
nav{
    background-color: #56284a95
    ;
    display: flex;
    justify-content: space-evenly;
}
nav a{

    color: white;
    font-size: 1.5vw;
    font-family: Arial,Helvetica, sans-serif;
    text-decoration: none;
    padding: 30px 100px;
    text-shadow: black 3px 3px 3px;

}
nav a:hover{
    background-color:#7eccea95;
    color:white
}
main{
    grid-column: 2/3;
    z-index: -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.big-top-pic{
    display: grid;
    width: 100%;
    margin-top: -200px;
    z-index: -1;
    grid-column: 1/3;
}
.main-header{
    grid-column: 1/3;
    text-align: center;
    background-color:#5380a3 ;
    color: white;
    padding: 1.5vw;
    letter-spacing: 0.3em;
    word-spacing: 0em;
    margin: 0;
    text-shadow: none;
}
.side-pic{
    width: 100%;
    grid-column: 1/2;
    
}
.right-side{
    grid-column: 2/3;
    padding: 2vw;
}
.introduction-paragraph{
    background-color: #FFFFFF95;
    border-radius: 1vw;
    color: #56284a;
}
.support-paragraph{
    background-color: #FFFFFF95;
    border-radius: 1vw;
    color: #56284a;
}
footer{
    background-color: #733d76;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    font-size: 1.3vw;
    color:black;
    font-family: Arial,Helvetica, sans-serif;
    text-align: center;
}
.name{
    grid-column: 1/2;
    margin: 1.5vw 0;
}
footer a{
    grid-column: 2/3;
    text-decoration:none;
    margin: 1.5vw 0;
    color: black;
    font-weight: bolder;
}
footer a:hover{
    text-decoration: white underline;
    color:white;
}
.social-media{
    grid-column: 3/4;
    margin: 1.5vw 0;
    text-align: right;
}
.icon{
    grid-column: 4/5;
    font-size: 2vw;
    margin: 1vw;
    text-align: left;
    letter-spacing: 1vw;
    display: grid;
    grid-template-columns: 3vw 3vw;
}
.facebook{
    font-size: 100%;
    color:#5380a3;
}
.deviantart{
    font-size: 100%;
    color:#7eccea;
}
.facebook:hover{
    color: white;
}
.deviantart:hover{
    color: white;
}
/*CSS added for music----------------------------
*/

.background_image{
    z-index: -1;
    width: 100vw;
    grid-row: 1;
    grid-column: 1;
}
.side_paragraph{
    color: #56284a;
}
.right_side{
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 1vw;
}
.right_side_font{
    background-color:#FFFFFF95;
    border-radius: 1vw;
}
.left_side{
    grid-column: 1/2;
    grid-row: 1/2;
    color: white;
    margin: 16vw 30vw 0vw 13vw;
    padding: 0;
    text-shadow: black 2px 2px 3px;
}
audio {
    width: 30vw;
    height: 2vw;
    margin: 0;
    padding: 0;
}
audio::-webkit-media-controls-panel{
    background-color: #7eccea95;
    box-shadow: black 5px 5px 5px;
}
audio::-webkit-media-controls-enclosure{
    background-color: transparent;
}
audio::-webkit-media-controls-mute-button{
    color: white;

}
audio::-webkit-media-controls-current-time-display{
    text-shadow: none;
    color: white;
}
audio::-webkit-media-controls-time-remaining-display{
    text-shadow: none;
    color: white;
}
/*CSS added for paintings and drawings----------------------------
*/
.opening_description{
    grid-column: 1/3;
    background-color: #7eccea95;
    border-radius: 1vw;
    margin: 1vw;
}
.all_img{
    height: 20vw;
    margin: 0.5vw;
    border: #733d76 0.3vw solid;
    border-radius: 1vw;
}
.year{
    grid-column: 1/3;
}
.year_description{
    color: #56284a;
    background-color:#FFFFFF95 ;
    border-radius: 1vw;
    margin: 1vw;
}
.year_pictures{
    margin: 0 auto;
    text-align: center;
}